.row
	.col.d-flex.justify-content-center
		.card
			.card-body
				p.card-text
					strong Jorge
			img.card-img(src='/assets/posts/img1.png')
			.card-body
				p.card-text
					strong Jorge
					|  foi um belo dia no parque!
				hr
				input.form-control.comentario(type='text', placeholder='Adicione um comentário...')
.row
	.col.d-flex.justify-content-center
		.card
			.card-body
				p.card-text
					strong Jorge
			img.card-img(src='/assets/posts/img2.png')
			.card-body
				p.card-text
					strong Jorge
					|  pra você também!
				hr
				input.form-control.comentario(type='text', placeholder='Adicione um comentário...')
.row
	.col.d-flex.justify-content-center
		.card
			.card-body
				p.card-text
					strong Jorge
			img.card-img(src='/assets/posts/img3.png')
			.card-body
				p.card-text
				hr
				input.form-control.comentario(type='text', placeholder='Adicione um comentário...')
.row
	.col.d-flex.justify-content-center
		.card
			.card-body
				p.card-text
					strong Jorge
			img.card-img(src='/assets/posts/img4.png')
			.card-body
				p.card-text
				hr
				input.form-control.comentario(type='text', placeholder='Adicione um comentário...')
